<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'devise/registrations/new.css' %>
    <title>Sign Up</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("undraw_professor_8lrt.svg", alt: "Image", style: "max-width: 115%; height: 82%;") %>
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Sign Up</h3>
                  <p class="mb-4">
                    Please fill in the informatiion below, To register your account.
                  </p>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="form-group first">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", id: "firstname" %>
                  </div>
                  <div class="form-group first">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", id: "lastname" %>
                  </div>
                  <div class="form-group first">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "useremail" %>
                  </div>
                  <div class="form-group first">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "password" %>
                  </div>
                  <div class="form-group last mb-4">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "passwordconfirmation" %>
                  </div>
                  <%= f.submit "Sign Up", class: "btn btn-block btn-primary" %>
                <% end %>
                <span class="d-block text-left my-4 text-muted">&mdash; or sign up with &mdash;</span>
                <div class="social-login">
                  <a href="#" class="facebook">
                    <span><%= fa_icon "facebook" %></span>
                  </a>
                  <a href="#" class="twitter">
                    <span><%= fa_icon "twitter" %></span>
                  </a>
                  <a href="#" class="google">
                    <span><%= fa_icon "google" %></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
