<head>
  <%= stylesheet_link_tag 'header' %>
</head>

<div class="p-3 bg-dark text-white">
  <div class="flexMain">
    <div class="flex2 text-center">
      <div><strong>Welcome to Book Application Website</strong></div>
    </div>
  </div>
</div>

<div id="menuHolder">
  <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
    <div class="flexMain">
      <div class="flex2">
        <button class="whiteLink siteLink" style="border-right:1px solid #eaeaea" onclick="menuToggle()">
          <%= fa_icon("bars") %> <span> MENU </span>
        </button>
      </div>
      <div class="flex3 text-center" id="siteBrand">
        BOOK PURCHASING APPLICATION
      </div>

      <div class="flex2 text-end d-block d-md-none">
        <button class="whiteLink siteLink"><i class="fas fa-search"></i></button>
      </div>

      <div class="flex2 text-end d-none d-md-block">
        <div style="display: flex; flex-wrap: wrap;">
          <form action="<%= new_author_registration_path %>" method="post" style="flex: 5;">
            <%= csrf_meta_tags %>
            <%= link_to "REGISTER", new_author_registration_path, class: "whiteLink siteLink", data: { turbolinks: false } %>
          </form>

          <form action="<%= author_session_path %>" method="post" style="flex: 1;">
            <%= csrf_meta_tags %>
            <%= link_to "LOGIN", new_author_session_path, class: "blackLink siteLink", data: { turbolinks: false } %>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="menuDrawer">
    <div class="p-4 border-bottom">
      <div class='row'>
        <div class="col">
          <select class="noStyle">
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <option value="italian">Italian</option>
          </select>
        </div>
        <div class="col text-end ">
          <%= fa_icon('times', class: 'menuToggle()') %>
        </div>
      </div>
    </div>
    <div>
      <%= link_to(root_path, class: "nav-menu-item") do %>
        <%= fa_icon("home") %>
        Home
      <% end %>

      <%= link_to(new_book_path, class: "nav-menu-item") do %>
        <%= fa_icon("book") %>
        Add Books
      <% end %>

      <%= link_to(edit_author_registration_path, class: "nav-menu-item") do %>
        <%= fa_icon("users") %>
        Edit (Author Registration)
      <% end %>

      <%= link_to(destroy_author_session_path, method: :delete, class: "nav-menu-item") do %>
        <%= fa_icon("sign-out") %>
        Logout
      <% end %>

      <form class="d-flex">
        <%= form_tag(books_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Books", class: "form-control me-2"%>
          <%= submit_tag "Search", class:"btn btn-outline-success", style: "width: auto"%>
        <% end %>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var menuHolder = document.getElementById('menuHolder')
  var siteBrand = document.getElementById('siteBrand')
  function menuToggle(){
    if(menuHolder.className === "drawMenu") menuHolder.className = ""
    else menuHolder.className = "drawMenu"
  }
  if(window.innerWidth < 426) siteBrand.innerHTML = "MAS"
  window.onresize = function(){
    if(window.innerWidth < 420) siteBrand.innerHTML = "MAS"
    else siteBrand.innerHTML = "BOOK PURCHASING APPLICATION"
  }
</script>
